body {
  background-color : rgb(51, 4, 4);
  padding : auto;
}
.head {
  border :solid 1px;
  background-color : rgb(154, 29, 29);
  border-radius : 15px;
  margin-top : 0px ;
}
.head h1 {
  text-align : center;
  font-size : 38pt;
  margin-top : 0px;
  padding : 10px;
  color : white;
}
 h3 {
  margin : 15px;
  font-family : ;
   color : white;
}
h2 {
  color:white;
  margin : 15px;
}

#canvas {
  border : solid 1px;
  height : 350px;
  background-color : rgb(200,200,200);
  border-radius : 15px;
  margin: 15px;
  
}

#upload{
  font-size : 20pt;
  border-radius: 30px;
  background-color : rgb(200,200,200);
  margin : 15px;
  width : 530px;
}
#reset{
  width : 340px;
  margin-left : 110px;
}

.btn {
  width : 165px ;
  font-size : 20pt;
  border-radius : 15px;
  margin : 15px ;
 
}
.btnbox {
 
}